<!DOCTYPE html>

<html>
<head>
<title>You played rock!</title>
<meta charset="utf-8">

</head>

<body>

<% comp_move = ["rock", "paper", "scissors"].sample %>

<h2>We played rock!
</h2>

<h2>They played <%= comp_move %>
</h2>

<%if comp_move == "rock"%>
    <h2> We tied! </h2>

<%  elsif comp_move == "paper" %>
    <h2> We lost! </h2>

<% elsif comp_move == "scissors" %>
    <h2> We won! </h2>
<%  end %>

<div>
  <a href="/">Rules</a>
</div>

</body>
</html>
